<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="username">Username:</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" formControlName="username" placeholder="Enter Username">
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <div class="col-sm-2">
    <input type="password"  class="form-control" formControlName="password" placeholder="Enter Password">
  </div>
  </div>
  <div class="form-group">
    <button [disabled]="!loginForm.valid" class="btn btn-primary" routerLink="/UserDetail"><b>Login</b></button>
  </div>
</form>

