<div class="container">
    <h2>New Tweet</h2>
     
      <div class="form-group">
        <label for="Text">Text:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control"  ngMaxLength="120" 
          [(ngModel)] = 'tweet.Text'
          (ngModelChange)="onTextChange($event)"
           placeholder="Enter Tweet">
        </div>
       
      </div>
      
      <div class="form-group" *ngIf="tweet.imagesPath.length > 0">
          <label for="Images">Image:</label>
          <div class="col-sm-6" *ngFor="let image of tweet.imagesPath; let i = index; trackBy:trackByIndex;">
            <input  type="url" class="form-control" [(ngModel)] = "tweet.imagesPath[i]" 
             
             placeholder="Enter url">
          </div>
        </div>      
            <div *ngIf="!textValid" class="alert alert-warning" role="alert">
                <strong>Warning!</strong> El Texto no puede ser mayor a 120.
              </div>
       
      
      <div class="form-group">
        <button [disabled]="tweet.Text <= 0 || !isValid" class="btn btn-primary" (click) = 'addNewTweet()'><b>New Tweet</b></button>
      </div>
    

    <div class="form-group">
        <button class="btn btn-primary" (click) = 'addNewImage()'><b>New Image</b></button>
      </div>
</div>