

<nav class="navbar navbar-default bg-light fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand"  routerLink="/UserDetail">Home</a>
        </div>
        <div class="row">
            <div class="mx-auto order-0">
                <img class="navbar-brand mx-auto"  routerLink="/UserDetail" style="cursor: pointer;" src="https://cfr.slack-edge.com/ae7f/img/services/twitter_512.png" width="50" height="50">
            </div>
        </div>
        <div class="navbar navbar-default navbar-fixed-top">

                <a class="nav-item">
                    <img class="navbar-brand mx-auto" src=" https://avatars3.githubusercontent.com/u/23128076?s=400&v=4 " width="50" height="50">
                </a>
                <td>&nbsp;</td>
                <button
                    type="button"
                    class="btn btn-primary dropdown-toggle"
                    routerLink="/NewTweet"
                    data-toggle="modal" data-target="#other">
                    Tweet <span class="caret"></span>
              </button>
        </div>
    </div>
</nav>

<br>
<br>
<br>
<br>
<div class="container">
        <div class="row">
                <div class="d-none d-xs-none d-sm-block col-md-4 col-lg-3" >
                  <app-usuario-detail></app-usuario-detail>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-6">
                  <app-tweets></app-tweets>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-2">
                  <app-new-grupo></app-new-grupo>
                  <app-list-group></app-list-group>
                </div>
              </div>
</div>
